<%- include("partials/header") %> 

  <!-- Page Content -->
<%- include("partials/leftMenu") %>   
      <!-- /.col-lg-3 -->
      <div class="col-lg-9">

        <div class="row">
          <div class="col-lg-6">
            <img class="" src="/images/<%= specificFigurine.name.toLowerCase() %>.png" alt="<%= specificFigurine.name %>">
          </div>

          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                  <h3 class="card-title">
                    <%= specificFigurine.name %>
                    <div class="badge badge-pill badge-<%= specificFigurine.category.toLowerCase() %>"><%= specificFigurine.category.toLowerCase() %></div>
                  </h3>
                  <p class="card-text">Taille réelle : <%= specificFigurine.size %> cm</p>
                  <p class="card-text"><%= specificFigurine.description %></p>
                  <p class="card-text">3
                    Note moyenne : &#9733; &#9733; &#9733; &#9733; &#9734;
                    <br>
                    <a href="#" data-toggle="modal" data-target="#reviewsModal">Détails des avis</a>
                  </p>
                  <h5>$<%= specificFigurine.price %></h5>
                  <p class="card-text">
                    <a href="/bookmarks/add/<%= specificFigurine.id %>" class="link-add-bookmarks">+ Ajouter aux favoris</a>
                  </p>
              </div>
            </div>
          
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
<%- include("partials/footer") %> 
